<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Data List</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/mapData.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
{{> general/_navbar }} <!-- No afecta al navbar -->

<div class="mapdata-container">
    <h1>Map Data List</h1>
    <ul class="mapdata-list">
        {{#mapDataList}}
        <li class="mapdata-item">
            <h2>{{name}}</h2>
            <p><strong>North Angle:</strong> {{northAngle}}°</p>
            <p><strong>Matrix:</strong></p>
            <div class="matrix">
                {{#matrix}}
                {{.}}<br>
                {{/matrix}}
            </div>
        </li>
        {{/mapDataList}}
    </ul>
</div>
</body>
</html>
