<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Data List</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/mapData.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/modals.css">
    <link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
{{> general/_navbar }}

<div class="mapdata-container">
    <h1>Map Data List</h1>
    <ul class="mapdata-list">
    </ul>

    <div class="pagination-container">
        <button id="prevPageBtn" class="btn pagination-btn">Página Anterior</button>
        <button id="nextPageBtn" class="btn pagination-btn">Página Siguiente</button>
    </div>

    <button class="btn submit-btn centered-btn" onclick="window.location.href='/mapData/new'">Create New MapData</button>

    <div id="confirmContainer"></div>

</div>
<script src="/js/confirmModal.js"></script>
<script src="/js/mapData.js"></script>
</body>
</html>
